<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Список книг</title>
  </head>
  <body class="dark-mode">
    <h2>Список книг {{ userName }}</h2>
    {{#each books}}
      <div>
        <p>{{ index }}. {{ title }} {{ author }}; {{ currentPage }} из {{ totalPage }} (id: {{ id }})</p>
        <a href={{ begginLink }}>Открыть сначала</a>
        <a href={{ continousLink }}>Продолжить чтение</a>
      </div>
    {{/each}}
    <div><p>Страницы: </p>{{#each pageLinks}}<p><a href={{ url }}>{{index}}</a></p>{{/each}}</div>
  </body>

  <style type="text/css">
    body {
    padding: 15px;
    background-color: white;
    color: #2a2b2e;
    font-size: 25px;
    }

    a {
      color: white;
    }

    .dark-mode {
      background-color: #2a2b2e;
      color: white;
    }
  </style>
</html>