<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
  </head>
  <body class="dark-mode">
    <a href={{ main }}>{{ mainLinkText }}</a>
    <a href={{ back }}>{{ backLinkText }}</a>
    <a href={{ next }}>{{ nextLinkText }}</a>
    <p>{{ currentPage }} / {{ totalPage }} {{ percent }}</p>
    <p>{{hlp text }}</p>
    <a href={{ back }}>{{ backLinkText }}</a>
    <a href={{ next }}>{{ nextLinkText }}</a>
  </body>

  <style type="text/css">
    body {
    padding: 5%;
    background-color: white;
    color: #2a2b2e;
    font-size: 25px;
    }

    a {
      color: white;
      font-size: 25px;
    }

    .dark-mode {
      background-color: #2a2b2e;
      color: white;
    }
  </style>

  <script>
    document.body.addEventListener('keydown', function (event) {
      if (event.key === 'ArrowRight') {
        window.location.replace('{{ next }}'.replace(/&#x3D;/g, '='));
      }
      if (event.key === 'ArrowLeft') {
        window.location.replace('{{ back }}'.replace(/&#x3D;/g, '='));
      }
    });
  </script>
</html>