<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
  </head>
  <body class="dark-mode">
    <a href={{ main }}>меню</a>
    <a href={{ back }}>назад</a>
    <a href={{ next }}>след</a>
    <p>{{ currentPage }} / {{ totalPage }}</p>
    <p>{{hlp text }}</p>
    <a href={{ back }}>назад</a>
    <a href={{ next }}>след</a>
  </body>

  <style type="text/css">
    body {
    padding: 5%;
    background-color: white;
    color: #2a2b2e;
    font-size: 25px;
    }

    a {
      color: white;
      font-size: 25px;
    }

    .dark-mode {
      background-color: #2a2b2e;
      color: white;
    }
  </style>
</html>